---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
// import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/workdesk.jpg";
import construction from "@images/transparent.png";
import tools from "@images/review.png";
import dashboard from "@images/community.png";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Continue to Login"
    url="https://github.com/mearashadowfax/ScrewFast"
  />

  <HeroSection
    title=`Share your experience... <span
        class="text-orange-300 dark:text-orange-200">Shape the future...</span>`
    subTitle="Gain valuable insights from others like you to make informed career choices. Learn more and share your experiences with complete anonymity."
    primaryBtn="Discover Employers"
    primaryBtnURL="/products"
    secondaryBtn="Compare Salaries"
    secondaryBtnURL="/contact"
    tertiaryBtn="Find Jobs"
    tertiaryBtnURL="/jobs"
    withReview={false}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <FeaturesNavs
    title=`Use <span class="text-orange-500 dark:text-orange-400">JobLens</span> for trusted, community-driven career insights.`
    tabs={[
      {
        heading: "Honest Reviews",
        content:
          " Get real insights directly from current and past employees. Learn about the work environment, company policies, management style, and overall culture to help you make a well-rounded decision.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Community-Driven",
        content:
          "Help others by sharing your experience and learn from your peers. Our community thrives on the collective knowledge and experiences of its members, making JobLens a trusted source for career insights.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Transparency Matters",
        content:
          "Uncover what it's truly like to work at your prospective company before making the big decision. Detailed reviews on work-life balance, growth opportunities, and employee satisfaction provide the transparency you need to make informed choices.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <FeaturesGeneral
    title="Every bit of information makes the world of work better!"
    subTitle="Contribute to the comunity by sharing your story! Your insights can help thousands of job seekers make the right career move. Join a network that values transparency and career growth."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <TestimonialsSection
    title="On the right track"
    subTitle="We make sure that all the stones are turned so that you get a holistic view about any company."
    ;
    // testimonials={[
    //   {
    //     content:
    //       "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
    //     author: "Samantha Ruiz",
    //     role: "Chief Operating Officer | ConstructIt Inc.",
    //     avatarSrc:
    //       "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
    //   },
    ]}
    statistics={[
      {
        count: "500+",
        description:
          "insights on employers",
      },
      {
        count: "10+",
        description:
          "employers rated across the nation",
      },
      {
        count: "150+",
        description:
          "job positions ratings and their salaries",
      },
      {
        count: "50+",
        description: "ratings building the community everyday",
      },
    ]}
  />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="Login to tell your story and views about your employer."
    url="https://github.com/mearashadowfax/ScrewFast"
  />
  <FAQ title="Frequently<br />asked questions" faqs={faqs} />
</MainLayout>

    // primaryBtn="Discover Employers"
    // primaryBtnURL="/products"
    // secondaryBtn="Compare Salaries"
    // secondaryBtnURL="/contact"